{% extends 'authentication/base.html' %}

{% block css %}
<title>Welcome</title>
{% load static %}
<link rel="stylesheet" href="{% static 'authentication/register_all.css' %}" />
{% endblock %}

{% block html %}

<body class="bg">
  <div class="container-fluid">
    <div class="fc">
      <center style="font-size: 30px;color: #d9534f">First time?</center>
      <a href="{% url 'authentication:register_student' %}" class="d-inline-block m-3">
        <button type="button" class="btn btn-outline-danger d-inline-block">
          Student Registration
        </button>
      </a>
      <a href="{% url 'authentication:register_teacher' %}" class="d-inline-block m-3">
        <button type="button" class="btn btn-outline-danger d-inline-block">
          Teacher Registration
        </button>
      </a>
    </div>
    <div class="sc justify-content-center" style="text-align: center">
      <div style="font-size: 30px;color: #428bca ;display: inline-block">Already a member?
      </div>
      <br />
      <a href="{% url 'authentication:login_user' %}" class="d-inline-block m-3" style="display: inline-block">
        <button type="button" class="btn btn-outline-primary d-inline-block">
          User login
        </button>
      </a>
    </div>
  </div>


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossOrigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossOrigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossOrigin="anonymous"></script>
</body>
{% endblock %}